* {
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

.header-container {
  display: flex;
  justify-content: space-between;
  display: flex;
  padding: 20px;
  color: white;
}

.logo a img {
  float: left;
  max-width: 66px;
  /* height: 40px; */
  margin-top: 5px;
  margin-left: 30px;
  padding-left: 0;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-right {
  float: right;
  margin-top: 25px;
  margin-right: 0;
  text-align: start;
  padding-right: 30px;
}

.nav-right ul {
  display: flex;
  flex-wrap: wrap;
}

.nav-right ul li {
  list-style-type: none;
  margin-left: 78px;
}

.nav-right ul li a {
  text-decoration: none;
  letter-spacing: 3.4px;
  color: #333333;
  font-size: 18px;
}

/* publication headind */

.row {
  margin-bottom: 40px;
  border-top: 1px solid black;
  padding-top: 20px;
}
.publication-heading {
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: flex-start;
}
.publication-heading h1 {
  max-width: 650px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 3px;
  line-height: 96px;
  margin: 0 -33px;
}

/* publication heading end*/

.publication-text {
  margin-top: 19px;
}

.publication-text h4 {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #734ea6;
}
.publication-text h5 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #919090;
  margin: 8px 0 30px 0;
  font-weight: 500;
}
.publication-text h3 a {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-size: 36px;
  line-height: 51px;
  color: #333333;
  text-decoration: none;
}

.publication-text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333333;
  line-height: 28px;
}

.button {
  margin-top: 15px;
  display: inline-block;
  margin-right: 30px;
}

.button {
  background-color: #333333;
  color: #fffdff !important;
  font-size: 19px;
  text-decoration: none;
  font-weight: 400;
  padding: 23px 57px 23px 60px;
  letter-spacing: 3.25px;
}

.button:hover {
  background-color: #734ea6;
  text-decoration: none;
}

/* section second end */

footer .row {
  display: flex;
  gap: 80px;
  padding: 0;
}

footer {
  margin-top: 22px;
  background-color: #333333;
  padding: 48px 0 0 0;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #333;
  padding: 20px;
  color: white;
}

.footer-box {
  flex: 1;
  text-align: left;
  padding: 10px;
}

.third-column {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.menu-footer-menu-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

#menu-footer-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.menu-footer-menu-container .menu li {
  font-size: 16px;
}

.menu-footer-menu-container .menu li a {
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* White font color */
  transition: color 0.3s ease;
}

.menu-footer-menu-container .menu li a:hover {
  color: #00bcd4; /* Highlight color on hover */
}

/* footer box 4 */
.footer-icon ul {
  display: flex;
  /* justify-content: space-between; */
  gap: 40px;
  list-style: none;
}

/* footer box 4 end */

footer .container .row {
  gap: 80px;
}

.footer-box ul {
  margin: 0;
  padding: 0;
}

.footer-box:first-child {
  width: auto;
}

.container-fluid {
  max-width: 100%;
  margin: auto;
}

footer .footer-text {
  border-top: solid 1px #464646;
  margin-top: 27px;
  color: #bdbdbd;
  padding: 20px;
}

.footer-box:first-child img {
  width: 125px;
  height: 125px;
}

footer .footer-text p {
  color: #bdbdbd;
  font-size: 14px;
  padding: 0;
  letter-spacing: 1.4px;
}

.footer-box h4 {
  margin: 0;
  margin-top: 0px;
  padding-bottom: 14px;
  font-weight: 400;
  letter-spacing: 2.35px;
  color: #fff;
  font-size: 18px;
  margin-top: 2px;
}

.footer-box p {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 3px;
}

.footer-box p a {
  text-decoration: none;
  color: #fff;
  font-family: roboto;
  text-align: center;
  display: flex;
  justify-content: start;
}

/* All right reserve div */

footer .footer-text {
  border-top: solid 1px #464646;
  margin-top: 27px;
  color: #bdbdbd;
  padding: 20px;
}

.footer-text p {
  margin: 0;
  padding: 13px 0 20px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
}
