* {
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

.header-container {
  display: flex;
  justify-content: space-between;
  display: flex;
  padding: 20px;
  color: white;
}

.logo a img {
  float: left;
  max-width: 66px;
  /* height: 40px; */
  margin-top: 5px;
  margin-left: 30px;
  padding-left: 0;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-right {
  float: right;
  margin-top: 25px;
  margin-right: 0;
  text-align: start;
  padding-right: 30px;
}

.nav-right ul {
  display: flex;
  flex-wrap: wrap;
}

.nav-right ul li {
  list-style-type: none;
  margin-left: 78px;
}

.nav-right ul li a {
  text-decoration: none;
  letter-spacing: 3.4px;
  color: #333333;
  font-size: 18px;
}

/* banner slideshow section */

.banner-text {
  float: left;
  padding: 0 0 0;
  width: 37%;
}

h1 {
  margin: 0;
  line-height: 0.97;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 5px;
  margin-bottom: 0;
  color: #333333;
  margin-left: 40px;
  margin-top: 70px;
}

.banner-text .services-button {
  margin-top: 95px;
  display: inline-block;
}

.services-button {
  background-color: #333333;
  color: #fffdff !important;
  font-size: 19px;
  text-decoration: none;
  font-weight: 400;
  padding: 23px 43px 23px 47px;
  letter-spacing: 3.25px;
  margin-left: 40px;
}

/* PROJECT SECTION */


.project {
  padding-top: 160px;
  overflow-x: hidden;
  padding-bottom: 150px;
}

.project .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /* margin-bottom: -230px; */
  /* margin: -200px; */
}
.project .row .project-box {
  position: relative;
  height: 442px;
  margin-bottom: -200px;
}

.project .row .project-box:nth-child(1),
.project .row .project-box:nth-child(2) {
  flex: 0 0 calc(50% - 15px);
}

.project .row .project-box:nth-child(3),
.project .row .project-box:nth-child(4),
.project .row .project-box:nth-child(5) {
  flex: 0 0 calc(33.33% - 20px);
}

.product-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-img img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.project .button {
  float: right;
  margin-right: 240px;
  padding: 22px 43px 20px 47px;
}

.button {
  background-color: #333333;
  color: #fffdff !important;
  font-size: 19px;
  text-decoration: none;
  font-weight: 400;
  padding: 23px 43px 23px 47px;
  letter-spacing: 3.25px;
  margin-left: 40px;
}

/* fOOTER */

.row {
  display: flex;
  gap: 80px;
  padding: 0;
}

footer {
  margin-top: 22px;
  background-color: #333333;
  padding: 48px 0 0 0;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #333;
  padding: 20px;
  color: white;
}

.footer-box {
  flex: 1;
  text-align: left;
  padding: 10px;
}

.menu-footer-menu-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

#menu-footer-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.menu-footer-menu-container .menu li {
  font-size: 16px;
}

.menu-footer-menu-container .menu li a {
  text-decoration: none; /* Remove underline */
  color: #ffffff; /* White font color */
  transition: color 0.3s ease;
}

.menu-footer-menu-container .menu li a:hover {
  color: #00bcd4; /* Highlight color on hover */
}

/* footer box 4 */
.footer-icon ul {
  display: flex;
  /* justify-content: space-between; */
  gap: 40px;
  list-style: none;
}

/* footer box 4 end */

footer .container .row {
  gap: 80px;
}

.footer-box ul {
  margin: 0;
  padding: 0;
}

.footer-box:first-child {
  width: auto;
}

.container-fluid {
  max-width: 100%;
  margin: auto;
}

footer .footer-text {
  border-top: solid 1px #464646;
  margin-top: 27px;
  color: #bdbdbd;
  padding: 20px;
}

.footer-box:first-child img {
  width: 125px;
  height: 125px;
}

footer .footer-text p {
  color: #bdbdbd;
  font-size: 14px;
  padding: 0;
  letter-spacing: 1.4px;
}

.footer-box h4 {
  margin: 0;
  margin-top: 0px;
  padding-bottom: 14px;
  font-weight: 400;
  letter-spacing: 2.35px;
  color: #fff;
  font-size: 18px;
  margin-top: 2px;
}

.footer-box p {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}

.footer-box p a {
  text-decoration: none;
  color: #fff;
  font-family: roboto;
  text-align: center;
  display: flex;
  justify-content: start;
}

/* All right reserve div */

footer .footer-text {
  border-top: solid 1px #464646;
  margin-top: 27px;
  color: #bdbdbd;
  padding: 20px;
}

.footer-text p {
  margin: 0;
  padding: 13px 0 20px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
}
